<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628813047631-ulnumkneilnhlraua2feop5g8ieda1si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628813047631-ulnumkneilnhlraua2feop5g8ieda1si</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628813047631-6en45rohviceu0m2ua3cada2m8e9bmar.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZYpVwt15-_lWqIBiPpseWvJtn_XRbqnw</string>
	<key>GCM_SENDER_ID</key>
	<string>628813047631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsdaoquang.quangshopping</string>
	<key>PROJECT_ID</key>
	<string>quang-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quang-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628813047631:ios:94f1d55726f73918fc873a</string>
</dict>
</plist>