<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389902582248-i8j9kr9q0m7u2rbpdc6q2mp8f9oofiau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389902582248-i8j9kr9q0m7u2rbpdc6q2mp8f9oofiau</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389902582248-eq21rtqf8e9etveepgi7g24lq82ejs4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrRuUHvN8M1mbn9mmSEtXWYUXA-kl_emM</string>
	<key>GCM_SENDER_ID</key>
	<string>389902582248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuannguyendev.tuanshopping</string>
	<key>PROJECT_ID</key>
	<string>tuan-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tuan-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389902582248:ios:b90814806e5a6e7323a45d</string>
</dict>
</plist>